[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
pre-commit = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
transformers = "*"
scikit-learn = "*"
torch = {version = "*", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.11"
